version: "3"

services:
    prom-server:
        image: prom/prometheus
        container_name: prom-server
        ports:
          - "9090:9090"
        volumes:
          - ./Backend/prometheus-config.yml:/etc/prometheus/prometheus.yml
          