# Dependencies
node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
public/
# Git
.git
.gitignore
.env
# Docker
# Exclude the Dockerfile and docker-compose files to prevent
# them from being copied into the final image unnecessarily.
Dockerfile*
docker-compose*

# Build artifacts
# Add other build artifacts or temporary files generated during development
dist
build
*.tgz

# Testing and development files
*.test.js
*.spec.js
__tests__
coverage

# IDE and OS files
.vscode
.idea
.DS_Store