<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Interface</title>
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
    <link rel="stylesheet" href='/stylesheets/profile.css'>

</head>

<body>
    <nav>
        <div>
            <strong>MailSift</strong>
        </div>
        <div id="profileContainer" class="profile-display">
            <div>
                <img id="profilePic" src="" alt="profilePicture">
            </div>
            <div>
                <strong class="username"></strong>
            </div>
        </div>
    </nav>
    <main>
        <div class="left">
            <div class="add-button">
                <span>+</span>
            </div>
        </div>
        <div class="right">

        </div>
    </main>

    <script src="/JavaScripts/dashboard.js"></script>
    <script src="/JavaScripts/profileShow.js"></script>
</body>

</html>