<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Interface</title>
    <link rel="stylesheet" href="/stylesheets/homeStyle.css">
    <link rel="stylesheet" href='/stylesheets/profileStyle.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

</head>

<body>
    <nav>
        <div>
            <strong id="favicon-name">MailSift</strong>
        </div>
        <div id="profileContainer">
            <div>
                <img id="profilePic" src="" alt="profilePicture">
            </div>
            <div>
                <strong class="username"></strong>
            </div>
        </div>
    </nav>
    <main id="mainContainer">
        <div class="left">
            <div class="add-button">
                <span>+</span>
            </div>
        </div>
        <div class="right">

        </div>
    </main>

    <script src="/JavaScripts/homeSetUp.js"></script>
    <script src="/JavaScripts/profileSetUp.js"></script>
</body>

</html>